services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/data/postgres

  mongo:
    image: mongo:8.2
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/mongo

volumes:
  postgres_data:
  mongo_data: